* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App-header {
  background-color: #7d7e7f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.text-gradient {
  background: -webkit-linear-gradient(315deg, #000000 0%, #2e9cff 100%);
  text-align: center;

}
.input {
  display: block;
  height: 100px;
  width: 400px;
  border-radius: 20px;
  text-align: center; 
  font-size: 1.5rem;
  border: 0;
}
input::placeholder {
  font-size: 1.5rem; /* Increase font size */
  color: #aaa; /* Optional: lighter color for placeholder */
  text-align: center; /* Center placeholder text */
}
.tlacitko {
  background: #000000;
  color: white;
  margin: 20px;
  border-radius: 20px;
  height: 50px;
  width: 200px;
  font-size: 1.3rem;
  border: 0;
}
.tlacitko:hover {
  background: #2e9cff;
  border: 0;
}
